<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stock_Analysis</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
        <!-- jQuery (required for Select2) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Select2 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        <!-- Select2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>

    <div class="sidenav">
        <h1><i class='fas fa-dragon'></i>CloseAI</h1>
        <a href="{{ url_for('home') }}"><i class='fas fa-home'></i> Home</a>    
        <a href="{{ url_for('sector') }}"><i class='fas fa-chart-pie'></i>Sector</a>   
        <a href="{{ url_for('strategy') }}"><i class='fas fa-chart-line'></i>Strategy</a>   
        <a href="{{ url_for('logout') }}"><i class='fas fa-sign-in-alt'></i>Logout</a>
        <div class="dropdown">
            <button class="dropdown-button">
                <i class='fas fa-tools'></i>
                <span class="text">Tool</span>
                <i class="fas fa-chevron-down"></i>
            </button>

            {% block form_container %}{% endblock %}
        </div> 
    </div>

    <div class="content">

        <!-- <div class="navbar">
            <div class="navbar-left">
            </div>
            <div class="navbar-right">
                <h1>Welcome, {{ username }}!</h1>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-bell"></i></a>
                <a href="#" class="user-profile">
                    <img src="https://via.placeholder.com/30" alt="User">
                </a>   
            </div>
        </div> -->

        <div class="navbar">
            <div class="navbar-left">
                <!-- <input type="text" placeholder="Search...">
                <button><i class="fas fa-search"></i> Search</button> -->

            </div>
            <div class="navbar-right">
                <h1>Welcome, {{ username }}!</h1>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-bell"></i></a>
                <a href="#" class="user-profile">
                    <img src="static\images\profile.png" alt="User">
                </a>
                
            </div>
        </div>

        <div class="navbar-content-container">

            <div id="navbar-main">
                {% block navbar_main %}{% endblock %}
            </div>

        </div>

        <footer class="footer">
            <div class="footer-content">
                <p>Stock Analysis Dashboard | Updated:{{ current_date }} | copyright © {{ years }}</p>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='./js/main.js') }}"></script>
</body>
</html>