<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
</head>
<body>
{% extends "base.html" %}

{% block form_container %}
<div class="form-container">
    <h1>Basic Info</h1>
    <div class="sidebar-divider"></div>
    <form action="{{ url_for('submit_sectoral_form') }}" method="post" id="userForm">
        <div class="form-group">

                <label for="sector_start_date">1.Start Date</label>

                {% if form_data.start_date %}
                   <input type="text" id ="sector_start_date" name="sector_start_date" value="{{ form_data.sector_start_date }}" required placeholder="Enter Start Date">
                {% else %}
                   <input type="text" id ="sector_start_date" name="sector_start_date"  value="2024-01-01" required placeholder="Enter Start Date">
                {% endif %}

                <label for="sector_end_date">2.End Date</label>
                {% if form_data.sector_end_date %}
                    <input type="text" id ="sector_end_date" name="sector_end_date" value="{{ form_data.sector_end_date }}" required placeholder="Enter Start Date">
                {% else %}
                    <input type="text" id ="sector_end_date" name="sector_end_date"  value="2025-12-31" required placeholder="Enter Start Date">
                {% endif %}

            <label for="threshold_limit">3.Threshold Detail</label>
            <select id="threshold_limit" name="threshold_limit" required>
                {% for number_stock in form_data.threshold_limit %}
                    <option value='{{ number_stock }}'>{{number_stock}}</option>
                {% endfor %}
            </select>

            <label for="type_of_sector_plot">4.Type of Sector Plot</label>
            <select id="type_of_sector_plot" name="type_of_sector_plot" required>
                {% for sector_type in form_data.type_of_sector_plot %}
                    <option value='{{ sector_type }}'>{{sector_type}}</option>
                {% endfor %}
            </select>

            <label for="sell_to_buy_sector_info">5.Sell to Buy Info</label>
            <select id="sell_to_buy_sector_info" name="sell_to_buy_sector_info" required>
                {% for row in form_data.sell_to_buy_sector_info %}
                    <option value='{{ row }}'>{{row}}</option>
                {% endfor %}
            </select>

        </div>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}

{% block navbar_main %}
    <!-- Cards Section -->
    <div class="cards-container">

            <div class="card">
                {% if form_data.sector_stats %}
                     <h3>{{ form_data.sector_stats[0][0] }}</h3>
                     <p>{{ form_data.sector_stats[0][1] }}</p>
                {% else %} 
                     <h3>Not Found</h3>
                {% endif %}
                <i class="fas fa-bullhorn card-icon"></i> 
            </div>
            <div class="card">
                {% if form_data.sector_stats %}
                     <h3>{{ form_data.sector_stats[1][0] }}</h3>
                     <p>{{ form_data.sector_stats[1][1] }}</p>
                {% else %} 
                     <h3>Not Found</h3>
                {% endif %}
                <i class="fas fa-bullhorn card-icon"></i> 
            </div>
            <div class="card">
                {% if form_data.sector_stats %}
                     <h3>{{ form_data.sector_stats[2][0] }}</h3>
                     <p>{{ form_data.sector_stats[2][1] }}</p>
                {% else %} 
                     <h3>Not Found</h3>
                {% endif %}
                <i class="fas fa-bullhorn card-icon"></i> 
            </div>
            <div class="card">
                {% if form_data.sector_stats %}
                     <h3>{{ form_data.sector_stats[3][0] }}</h3>
                     <p>{{ form_data.sector_stats[3][1] }}</p>
                {% else %} 
                     <h3>Not Found</h3>
                {% endif %}
                <i class="fas fa-bullhorn card-icon"></i> 
            </div>
    </div>

    <!-- Plotly Charts Section -->
    <div class="cards-container-row2">
        <div class="card-line-chart">
            <h3>Sector Analysis :</h3>
            <div class="sidebar-divider"></div>
               <div class="line-chart-cards-sector" id="tree-sectoral-chart"></div>
        </div>
    </div>

{% endblock %}
</body>